<h1>Octicons Test</h1>

<h2>Imported Icon via Image Tag</h2>

<img src="images/svg/octicons/mark-github.svg" style="width:160px; height:160px;">

<h2>SVG Jar Embed</h2>

{{svg-jar "mark-github" class="octicon" width="160" height="160"}}
