name: Ember CI
on: push
jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 10.x
      - name: Node Modules Cache
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-node-modules-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-modules-
      - name: Install Dependencies
        run: yarn install
      - name: Lint
        run: yarn lint
      - name: Run Tests
        run: yarn test:ember

  ember-try:
    name: ember-try (${{ matrix.scenario }})
    needs: test
    runs-on: ubuntu-latest
    env:
      CI: true
    strategy:
      matrix:
        scenario:
          - lts-3.16
          - lts-3.20
          - release
          # - beta
          - default-with-jquery
          - classic
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 10.x
      - name: Node Modules Cache
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-node-modules-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-modules-
      - name: Install Dependencies
        run: yarn install
      - name: Run Tests
        run: yarn ember try:one ember-${{ matrix.scenario }} --skip-cleanup=true
